{{> Header}}
    <section class="container">
        <h2>Inicio de Sesión</h2>
        <div class="row">
            <div class="col-4 offset-4">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
                      <input type="email" name="email" class="form-control" id="txt-email">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                      <input type="password" name="password" class="form-control" id="txt-password">
                    </div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                  </form>
            </div>
        </div>
    </section>
{{> Footer}}