{{> Header}}
{{> Menu}}
    <h2 class="text-center">Listado de Usuarios</h2>
    <div class="row">
        <div class="col-6 offset-3">
            <button id="btn-add" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#modal-posts">Registrar</button>
            <table id="list-users" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Cuerpo</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
    </div>


    <div class="modal fade" id="modal-posts" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro de Posts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Título</label>
                    <input type="email" class="form-control" id="txt-titulo" name="titulo">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Cuerpo</label>
                    <textarea name="cuerpo" id="txt-cuerpo" cols="30" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btn-save" type="button" class="btn btn-primary">Salvar cambios</button>
            </div>
            </div>
        </div>
        </div>
{{> Footer}}